.event{
    display: flex;
    align-items: center;
    color: #fafafa;
    gap: 2rem;
    flex-wrap: wrap;
}

.event_left{
    position: relative;
    z-index: -1;
}

.event_left img{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

.event_times{
    background-color: #132440;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    position: absolute;
    bottom: -0.6rem;
    left: 12rem;
    width: 4rem;
    height:4rem;
}

.event_times .event_month{
    font-size: 0.8rem;
    text-transform: uppercase;
}

.event_times .event_day{
    font-size: 1.3rem;
    font-weight: 500;
}

.event_right{
    color: #374151;
}

.event_right .event_name{
    color: #132440;
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    text-transform: uppercase;
}

.event_right .event_description{
    margin-top: 0.3rem;
    font-size: 0.9rem;
    width: 40rem;
}

.event_date_time{
    display: flex;
    gap: 0.5rem;
    font-size: 0.8rem;
}

.event_date span{
    color: #132440;
    font-weight: 600;
    padding-right: 0.3rem;
}

.event_timing span{
    color: #132440;
    font-weight: 600;
    padding-right: 0.3rem;
}

@media screen and (max-width:980px){
    .event_right .event_description{
        width: 35rem;
    }
}