.hero_image{
    background: url("/images/jobs_image.jpg");
    width: 100%;
    height: 25rem;
    background-size: cover;
    background-position-y: bottom;
}

.hero_image::after{
    content: "jobs";
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0c4a6e4d;
    text-transform: uppercase;
    font-size: 3rem;
    color: #f8fafc;
}

.jobs_container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    gap: 2rem;
}

.no_jobs_div{
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-transform: uppercase;
}